.products {
  background-color: var(--bg);
  padding: 3rem 1.6rem;
}

.products h2 {
  font-size: 30px;
  font-weight: 700;
  color: var(--black);
}

.products p {
  color: var(--black);
  line-height: 26px;
  margin: 1rem 0 2rem 0;
}

.products b {
  color: var(--primary-color);
}

.products ul {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

.products li {
  background-color: var(--white);
  box-shadow: 1px 1px 10px #d5d5d5;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  text-align: center;
  width: 95%;
  height: 420px;
  margin: 1rem 0;
  padding: 2rem 3rem;
  border-bottom: 5px solid var(--primary-color);
  cursor: pointer;
  transition: all 0.6s;
}

.products li:hover {
  transform: scale(0.9);
}

.products li h3 {
  font-size: 24px;
  color: var(--black);
}

.products li p {
  color: var(--gray);
  line-height: 26px;
}

@media screen and (min-width: 1024px) {
  .products-div {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .products-div h2 {
    font-size: 36px;
  }

  .products-div p {
    font-size: 18px;
    width: 500px;
    text-align: center;
  }

  .products ul {
    flex-direction: row;
    gap: 1.5rem;
  }

  .products ul li {
    height: 350px;
  }


}